*{
   
    box-sizing: content-box;
}
body{
  background-color: silver;
  background-image: url(Images/background.jpg);
  background-size: cover;
  background-position: center;
}
.text-large{
  font-size: large;
}
/* Nav */
.text-outline{
	text-shadow: -1px 1px 1px rgba(0,0,0, .5),
				  1px 1px 1px rgba(0,0,0, .5),
				 1px -1px 1px rgba(0,0,0, .5),
				-1px -1px 1px rgba(0,0,0, .5);
}
.color-change{
    transition: all 1s ease;
    
}
.nav-link:hover{
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.5),
				  1px 1px 1px rgba(255, 255, 255, 0.5),
				 1px -1px 1px rgba(255, 255, 255, 0.5),
				-1px -1px 1px rgba(255, 255, 255, 0.5);
}
.dropdown-item:hover{
  max-width: 80%;
}
.logo{
    width: 25px;
    height: 25px;
}
/* end nav */
main{
  height: 100vh;

}
/* spiral text */
#spiral{
  width: 100%;
  height: 100%;
  animation: animated 15s linear infinite;
}
@keyframes animated {
  0% {
     transform: rotate(0deg); 
    }
  50% {
     transform: rotate(-180deg); 
    }
  100% {
     transform: rotate(-360deg); 
    }
  
}
/* end spiral */
/* about me */

/* end about */


.preview{
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;

}
.links{
  display: inline-block;
  justify-items: center;
}
.desktop{
  position: absolute;
  left: 5px;
  top: 5px;
  width: 114px;
  height: 74px;
}
.mobile{
  position: absolute;
  left: 25px;
  top: 5px;
  width: 114px;
  width: 80px;
  height: 114px;
}
.button-group{
  position: relative;
}
.buttons{
  position: absolute;
  top: 0%;
}